<<<<<<< HEAD
@font-face {
  font-family: incons;
  src: url(../data/incons.ttf);
=======
body, html {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-color: rgb(41, 41, 41);
  box-sizing: border-box;
}

h1 {
  margin: 0;
}
>>>>>>> parent of 18fb9a2... emojis are fun

}

body {
  margin: 0;
  padding: 0;
  font-family: incons !important;
  background-color: rgb(41, 41, 41) !important;
  height: 100vmin;
  /*overflow: hidden;*/
}

#l {
  height: 100vmax;
}