body, html {
  margin: 0;
  padding: 0;
  /*font-family: Inconsolata;*/
  background-color: rgb(41, 41, 41) !important;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  margin: 0;
}

button {
  border-radius: 1em;
  width: 3em;
  height: 3em;
}

.btn {

  border-radius: 50% !important;
}

#header {
  display: flex;
}

#content {
  margin: auto;
  height: 60vh;
  width: 50vw;
  margin-top: 15vh;
  margin-bottom: 25vh;
  overflow: hidden;
  border: 5px solid black;
  padding: 5vmin;
  background-color: white;
  font-size: 3vmin;

}

#container {
  width: 100%;
  text-align: left;
  word-break: break-all;
  line-height: 14px;
  font-size: 14px;
  white-space:pre-wrap;
}

#container div {
  height: 100%;
  width: 100%;
}

