body, html {
    overflow: hidden;
    font-family: Courier New;
    color: white;
    background-color: black;
}

#content {
    display: flex;
    justify-content: center;
}

#header {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#container {
    text-align: center;
    white-space:pre;
    overflow: hidden;
    user-select: none;
    font-size: 12pt;
    line-height: 6px;
}
